---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li role="listitem" class="list-none flex shadow-sm hover:shadow-inner rounded-lg bg-white">
	<a href={href} class="group w-full h-full p-4">
		<h2 class="font-bold group-hover:text-blue-500">
			{title}
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>