---
const { title } = Astro.props.frontmatter || Astro.props;

import Layout from "./layout.astro"
---

<Layout title={title + " | Megatutors"}>
    <main class="flex flex-col items-center p-4 bg-neutral-50 h-screen space-y-4">
        <div>
            <a href="/lessons" class="rounded bg-blue-400 text-white hover:bg-blue-500 transition duration-100 p-2 font-bold">Back to Lesson Hub</a>
        </div>
        <div class="w-full md:w-1/2 p-4 shadow-md h-full bg-white rounded">
            <h1 class="w-full text-center font-bold text-4xl">{title}</h1>
            <link rel="stylesheet" href="/src/css/markdown.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
            <div class="content mt-4">
                <slot />
            </div>
        </div>
    </main>
</Layout>